@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

:root {
  --body-backg-color: rgb(254, 253, 247);
  --body-color: rgb(51, 51, 51);

  --a-color: rgb(28, 172, 50);
  --a-color-hover: rgb(4, 49, 68);

  --h2-hover: rgb(223, 253, 225);

  --apptitle-color: rgb(209, 246, 215);
  --apptitle-border: rgb(112, 174, 116);

  --shadow: rgba(39, 56, 77, 0.4);
  --shadow-deep: rgb(51, 51, 51);

  --appmain-color: rgb(25, 118, 31);

  --apptool-backg: rgb(204, 237, 208);
  --apptool-border: rgb(28, 172, 50);
  --apptool-backg-hover: rgb(127, 198, 138);

  --form-group-backg: rgb(241, 254, 242);
  --form-group-border: rgb(169, 238, 144);

  --focus-input-border: rgba(28, 172, 50, 0.6);

  --danger-color: rgb(222, 49, 49);

  --badge-color: rgb(25, 118, 31);
  --badge-backg: rgb(209, 246, 215);

  --appNote-backg: rgb(247, 252, 236);
  --appNote-border: rgb(134, 151, 128);
  --appNoteBox-hover: rgb(160, 220, 164);

  --code-backg: rgb(237, 255, 199);
  --code-border: rgb(204, 217, 200);
  --form-Placeholder-color: rgb(182, 182, 182);
}

/* *********************** */
/* --  Elements Rules  --  */
/* *********************** */

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.1em;
  background-color: var(--body-backg-color);
  color: var(--body-color);
}

a {
  color: var(--a-color);
  text-decoration: none;
}

a:hover {
  color: var(--a-color-hover);
}

h2 {
  padding: 5px;
}

code {
  display: block;
  font-size: 1.1rem;
  color: var(--body-color);
  background-color: var(--code-backg);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--code-border);
  border-radius: 5px;
}

input:invalid {
  border: 2px dashed var(--danger-color);
}

small {
  font-size: 0.7rem;
  color: var(--body-color);
}

::placeholder {
  color: var(--form-Placeholder-color) !important;
}

/* *********************** */
/* -- Application Rules -- */
/* *********************** */

.appTitle {
  color: var(--apptitle-color);
  background: linear-gradient(
    0.3turn,
    rgb(125, 249, 120),
    rgb(25, 118, 31),
    rgb(119, 255, 126)
  );
  margin-top: 20px;
  padding: 20px;
  font-size: 5rem;
  font-weight: 900;
  border: 1px solid var(--apptitle-border);
  border-radius: 7px;
  box-shadow: 10px 5px 5px var(--shadow);
}

.appFooter {
  margin: 25px 0 25px 0;
}

.appMainColor {
  color: var(--appmain-color);
}

.appLabel {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--appmain-color);
}

.appPageTitle {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--appmain-color);
}

.appNoteBox {
  display: inline-block;
  margin: 15px;
}

.tuileNote {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--appmain-color);
  background-color: var(--appNote-backg);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--appNote-border);
  border-radius: 5px;
}

.tuileNote:hover,
.tuileNote-mini:hover {
  background-color: var(--appNoteBox-hover);
  color: var(--body-color);
}

.tuileNote-mini {
  font-size: 1rem;
  color: var(--appmain-color);
  background-color: var(--appNote-backg);
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid var(--appNote-border);
  border-radius: 5px;
}

.appViewNote {
  font-size: 1.1rem;
  color: var(--appmain-color);
  background-color: var(--appNote-backg);
  padding: 10px;
  border: 1px solid var(--appNote-border);
  border-radius: 5px;
}

.badge {
  background-color: var(--badge-backg) !important;
  color: var(--badge-color) !important;
}

.btn-note-delete {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}

.section_note {
  background-image: url("../img/section.png");
}

.infoFooter {
  font-size: 0.9rem;
  color: var(--body-color);
}

.termSearch {
  color: var(--danger-color);
}

/* *********************** */
/* --    Forms  Rules   -- */
/* *********************** */

.input_wrapper {
  position: relative;
  display: inline-block;
}

.input_wrapper input {
  padding-right: 40px;
}

.input_wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.label_sort_note {
  font-size: 0.8rem;
}

.select_sort_note,
.select_sort_order,
.input_search_note {
  font-size: 0.8rem;
  background-color: var(--appNote-backg);
  border: 1px solid var(--appNote-border);
  border-radius: 5px;
}

.input_search_note:focus {
  border-color: var(--focus-input-border);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075) inset,
    0 0 8px var(--focus-input-border);
  outline: 0 none;
}

.btn_submit_search {
  font-size: 0.8rem;
  color: var(--appmain-color);
  padding: 0.25rem 0.5rem;
}

.form-select:focus,
.form-control:focus,
input[type="checkbox"]:focus {
  border-color: var(--focus-input-border) !important;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075) inset,
    0 0 8px var(--focus-input-border);
  outline: 0 none;
}

.form-check-input:checked {
  background-color: var(--focus-input-border) !important;
  border-color: var(--focus-input-border) !important;
}

.form-group {
  border-radius: 5px;
  background-color: var(--form-group-backg);
  padding: 5px;
  margin: 9px 0;
  border: 1px solid var(--form-group-border);
  box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
    0 3px 7px -3px rgb(0 0 0 / 30%);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.alert {
  transition: opacity 0.5s ease-out;
}
